.navigation {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: var(--space-5);

  & a {
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: var(--space-3);

    svg {
      width: 20px;
      height: 20px;
    }

    &.active {
      color: var(--link-lighted);
    }
  }
}
